@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);














body,
input,
textarea,
.mbr-section-text,
.mbr-company .list-group-text,
.panel-body {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', sans-serif;
}
.alert,
.mbr-section-title,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto', sans-serif;
}
.btn {
  border-radius: 2.6em;
}
.mbr-gallery-filter ul li {
  border-radius: 2.6em;
}
.btn-sm,
.mbr-section-subtitle,
.mbr-cards .card-subtitle,
.nav-tabs .nav-link,
.mbr-testimonial .card-block,
.table th {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Roboto', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Roboto', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #ff6300 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #2980b9 !important;
}
.bg-warning {
  background-color: #f1c40f !important;
}
.bg-danger {
  background-color: #e74c3c !important;
}
.btn-primary {
  background-color: #ff6300;
  border-color: #ff6300;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #ff8233;
  border-color: #ff8233;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff8233 !important;
  border-color: #ff8233 !important;
}
.btn-secondary {
  background-color: #ff6300;
  border-color: #ff6300;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #ff8233;
  border-color: #ff8233;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff8233 !important;
  border-color: #ff8233 !important;
}
.btn-info {
  background-color: #2980b9;
  border-color: #2980b9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #409ad5;
  border-color: #409ad5;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #409ad5 !important;
  border-color: #409ad5 !important;
}
.btn-success {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning {
  background-color: #f1c40f;
  border-color: #f1c40f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #f4d03f;
  border-color: #f4d03f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #f4d03f !important;
  border-color: #f4d03f !important;
}
.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ed7669;
  border-color: #ed7669;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ed7669 !important;
  border-color: #ed7669 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #f55f00;
  color: #f55f00;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #fff;
  background-color: #ff6300;
  border-color: #ff6300;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #ff6300 !important;
  border-color: #ff6300 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #f55f00;
  color: #f55f00;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #fff;
  background-color: #ff6300;
  border-color: #ff6300;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #000000 !important;
  background-color: #ff6300 !important;
  border-color: #ff6300 !important;
}
.btn-info-outline {
  background: none;
  border-color: #277ab1;
  color: #277ab1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #fff;
  background-color: #2980b9;
  border-color: #2980b9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #000000 !important;
  background-color: #2980b9 !important;
  border-color: #2980b9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline {
  background: none;
  border-color: #e8bd0e;
  color: #e8bd0e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #fff;
  background-color: #f1c40f;
  border-color: #f1c40f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #000000 !important;
  background-color: #f1c40f !important;
  border-color: #f1c40f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e64433;
  color: #e64433;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #000000 !important;
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}
.btn-primary.btn-text {
  color: #ff6300;
  background: none;
  border: none;
}
.btn-primary.btn-text:hover,
.btn-primary.btn-text:focus,
.btn-primary.btn-text.focus,
.btn-primary.btn-text:active,
.btn-primary.btn-text.active {
  color: #ff8233;
  background: none !important;
  border: none !important;
}
.btn-secondary.btn-text {
  color: #ff6300;
  background: none;
  border: none;
}
.btn-secondary.btn-text:hover,
.btn-secondary.btn-text:focus,
.btn-secondary.btn-text.focus,
.btn-secondary.btn-text:active,
.btn-secondary.btn-text.active {
  color: #ff8233;
  background: none !important;
  border: none !important;
}
.btn-info.btn-text {
  color: #2980b9;
  background: none;
  border: none;
}
.btn-info.btn-text:hover,
.btn-info.btn-text:focus,
.btn-info.btn-text.focus,
.btn-info.btn-text:active,
.btn-info.btn-text.active {
  color: #409ad5;
  background: none !important;
  border: none !important;
}
.btn-success.btn-text {
  color: #ffffff;
  background: none;
  border: none;
}
.btn-success.btn-text:hover,
.btn-success.btn-text:focus,
.btn-success.btn-text.focus,
.btn-success.btn-text:active,
.btn-success.btn-text.active {
  color: #ffffff;
  background: none !important;
  border: none !important;
}
.btn-warning.btn-text {
  color: #f1c40f;
  background: none;
  border: none;
}
.btn-warning.btn-text:hover,
.btn-warning.btn-text:focus,
.btn-warning.btn-text.focus,
.btn-warning.btn-text:active,
.btn-warning.btn-text.active {
  color: #f4d03f;
  background: none !important;
  border: none !important;
}
.btn-danger.btn-text {
  color: #e74c3c;
  background: none;
  border: none;
}
.btn-danger.btn-text:hover,
.btn-danger.btn-text:focus,
.btn-danger.btn-text.focus,
.btn-danger.btn-text:active,
.btn-danger.btn-text.active {
  color: #ed7669;
  background: none !important;
  border: none !important;
}
.btn-black.btn-text {
  color: #000000;
  background: none;
  border: none;
}
.btn-black.btn-text:hover,
.btn-black.btn-text:focus,
.btn-black.btn-text.focus,
.btn-black.btn-text:active,
.btn-black.btn-text.active {
  color: #1a1a1a;
  background: none !important;
  border: none !important;
}
.btn-white.btn-text {
  color: #ffffff;
  background: none;
  border: none;
}
.btn-white.btn-text:hover,
.btn-white.btn-text:focus,
.btn-white.btn-text.focus,
.btn-white.btn-text:active,
.btn-white.btn-text.active {
  color: #ffffff;
  background: none !important;
  border: none !important;
}
.text-primary {
  color: #ff6300 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #2980b9 !important;
}
.text-warning {
  color: #f1c40f !important;
}
.text-danger {
  color: #e74c3c !important;
}
.alert-success {
  background-color: #ffffff;
}
.alert-info {
  background-color: #2980b9;
}
.alert-warning {
  background-color: #f1c40f;
}
.alert-danger {
  background-color: #e74c3c;
}
.btn-social {
  border-color: #ff6300;
}
.btn-social:hover {
  background: #ff6300;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ff6300;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ff6300;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ff6300;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ff6300;
}
.lead a {
  color: #ff6300;
}
.lead a:hover {
  color: #ff8233;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffe0cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #7fbbe3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fcf3d0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf3f2;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ff6300;
}
/*colorM*/
/*nav-tabs*/
.header5 .nav-tabs .nav-link:after {
  background: #ff6300;
}
.header9 .nav-tabs .nav-link.active:after {
  background: #ff6300;
  color: #222;
}
/*end-nav-tabs*/
/*mbr-arrow next and toTop*/
.mbr-arrow a {
  border-radius: 50% !important;
}
.mbr-arrow-up a {
  border-radius: 50% !important;
}
.mbr-arrow a,
.mbr-arrow-up a {
  background: rgba(255, 99, 0, 0.6);
  color: #000;
}
.mbr-arrow a:hover,
.mbr-arrow-up a:hover {
  background: #ff731a;
}
/*end mbr-arrow next and toTop*/
/*features8*/
.card .card-number {
  background: #ff6300;
}
/*features14*/
.features13 .card .card-number,
.features14 .card .card-number {
  background: transparent;
}
/*features15*/
.features15 .card-block:before {
  border-color: rgba(255, 99, 0, 0.5);
}
/*features16*/
.features16 .mbr-section-subtitle:before {
  background: #ff6300;
}
/*slider elements*/
.mbr-slider .carousel-control:hover {
  background: #ff6300;
}
.mbr-slider .carousel-indicators .active {
  background: #ff6300;
}
/*gallery*/
.mbr-gallery .modal .close {
  border-color: #ff6300;
}
.mbr-gallery .modal .close:hover {
  background: #ff6300;
}
.mbr-gallery-filter li.active {
  border-color: #ff6300;
  color: #000;
}
.mbr-gallery-filter li:hover {
  background: #ff8233;
  color: #000;
}
.mbr-gallery .mbr-gallery-item:hover > div::before {
  background: rgba(255, 99, 0, 0.5);
}
.mbr-gallery .mbr-gallery-item:hover {
  background: #ff6300;
}
/*end gallery*/
/*blockquote*/
blockquote {
  border-left: 3px solid #ff6300;
}
/*content4*/
.content4 p {
  border-top-color: #ff6300;
  border-bottom-color: #ff6300;
}
/*image2, video2*/
.image1 .mbr-figure-caption,
.video1 .mbr-figure-caption,
.image2 .mbr-figure-caption,
.video2 .mbr-figure-caption {
  background-color: #ff6300;
}
/* progress bar */
.progressbar .progress-primary[value]::-webkit-progress-value {
  background-color: #ff6300;
}
.progressbar .progress-primary[value]::-moz-progress-bar {
  background-color: #ff6300;
}
.progressbar .progress-primary[value]::-ms-fill {
  background-color: #ff6300;
}
@media screen and (min-width: 0\0) {
  .progressbar .progress-primary .progress-bar {
    background-color: #ff6300;
  }
}
.progressbar .progressbar-number {
  background: #ff8233;
}
/*countdown*/
.countdown .period {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.countdown .number {
  font-family: 'Roboto', sans-serif;
}
.countdown1 .number-wrap {
  border-color: #ff6300;
}
.countdown2 .bottom1 {
  background: #ff8233;
}
.countdown2 .bottom2 {
  background: #cc4f00;
}
/*accordion*/
.accordion .panel-heading {
  background: #ff8233;
  border-bottom: 1px solid #cc4f00;
}
.accordion .panel-heading:hover {
  background: #cc4f00;
}
.accordion .accordion-group .panel:last-child:after {
  background: #cc4f00;
}
/* news */
.news__card:hover {
  background: #ff6300;
}
/*footer*/
.footer1 .footer-list a:hover {
  color: #ff6300;
}
.shop1 .shop-item-price {
  font-family: 'Roboto Condensed', sans-serif;
}
.shop1 .mbr-gallery-item:hover .item_overlay {
  background: #ff6300;
  opacity: 0.2;
}
.team1 .title1,
.person-info .title1,
.team1 .title2,
.person-info .title2,
.team1 .title3,
.person-info .title3,
.team1 .title4,
.person-info .title4 {
  font-family: 'Roboto', sans-serif;
}
.team1 .subtitle1,
.person-info .subtitle1,
.team1 .subtitle2,
.person-info .subtitle2,
.team1 .subtitle3,
.person-info .subtitle3,
.team1 .subtitle4,
.person-info .subtitle4 {
  font-family: 'Roboto Condensed', sans-serif;
}
.team1 .text1,
.person-info .text1,
.team1 .text2,
.person-info .text2,
.team1 .text3,
.person-info .text3,
.team1 .text4,
.person-info .text4 {
  font-family: 'Roboto', sans-serif;
}
.person-info .subtitle1,
.person-info .subtitle2,
.person-info .subtitle3,
.person-info .subtitle4 {
  color: #ff6300;
}
.animated-bg1 .text {
  font-family: 'Roboto', sans-serif;
}
.features9 .timeline-panel h4 {
  font-family: 'Roboto', sans-serif;
}
.features9 .timeline-panel p {
  font-family: 'Roboto', sans-serif;
}
.features9 .date-normal p {
  font-family: 'Roboto Condensed', sans-serif;
}
.features9 .date-inverted p {
  font-family: 'Roboto Condensed', sans-serif;
}
.form-control {
  background: #f5f5f5;
  padding: 0.8rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
/*end colorM*/
#menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-15 .navbar-caption {
  color: #ffffff;
}
#menu-15 .navbar-toggler {
  color: #ffffff;
}
#menu-15 .close-icon::before,
#menu-15 .close-icon::after {
  background-color: #ffffff;
}
#menu-15 .link,
#menu-15 .dropdown-item {
  color: #ffffff;
}
#menu-15 .link {
  font-size: 0.875rem;
}
#menu-15 .dropdown-item,
#menu-15 .nav-dropdown-sm .link {
  font-size: 0.948rem;
}
#menu-15 .link:hover,
#menu-15 .link:focus {
  color: #ff6300;
}
#menu-15 .dropdown-item:hover::before,
#menu-15 .dropdown-item:focus::before {
  background: #ff6300;
}
#menu-15 .dropdown-item:hover,
#menu-15 .dropdown-item:focus {
  color: #ffffff;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-menu {
  background: #1a242f;
}
#menu-15 .nav-dropdown-sm .link:focus,
#menu-15 .nav-dropdown-sm .link:hover,
#menu-15 .nav-dropdown-sm .dropdown-item:focus,
#menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #273646!important;
}
#menu-15 .navbar,
#menu-15 .nav-dropdown-sm,
#menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #2c3e50;
}
#menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-15 .bg-color.transparent.opened .link:hover,
#menu-15 .bg-color.transparent.opened .link:focus {
  color: #ff6300;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-item[aria-expanded="true"] {
  color: #ff6300!important;
}
#header1-1 .lead {
  color: #93a3a7;
  font-style: italic;
}
#header1-1 .mbr-section-title {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  color: #ffffff;
}
#header1-1 .mbr-section-title B {
  font-size: 46px;
}
#header1-1 .mbr-section-text {
  color: #ffffff;
}
#header1-1 .mbr-section-text B {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
#header1-1 .btn {
  font-family: 'Roboto', sans-serif;
}
#content3-9 .mbr-section-title,
#content3-9 .mbr-section-subtitle {
  text-align: center;
}
#content3-9 H3 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}
#content1-q P {
  color: #000000;
  text-align: center;
}
#tabs1-7 P {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
#tabs1-7 .mbr-section-title {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}
#countdown1-z .mbr-section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}
#call1-o .display-1 {
  font-weight: 700;
}
#call1-o .lead {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
#call1-o .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  color: #ffffff;
}
#call1-o .mbr-section-subtitle {
  color: #ffffff;
}
#call1-o .mbr-section-title SPAN {
  font-family: 'Roboto', sans-serif;
}
#features9-i .mbr-section-title {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}
#features9-i H4 {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#features9-i .date P {
  color: #000000;
}
#features9-i P {
  color: #000000;
  font-size: 14px;
}
#contacts1-n {
  
  
}
#contacts1-n .mbr-section-title {
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
}
#contacts1-n .mbr-section-subtitle {
  color: #ffffff;
}
#contacts1-n .mbr-section-subtitle B {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#footer1-17 .mbr-section-subtitle,
#footer1-17 .mbr-section-text {
  color: #fff;
}
#footer1-17 .mbr-section-subtitle {
  margin-bottom: 20px;
  margin-top: 0;
}
